.intro {
    background: linear-gradient(91.34deg, #13b17c 2.06%, #0099cc 100%);
    color: white;
}

.intro__content {
    min-height: 100vh;
    display: grid;
    grid-template-columns: var(--left-column-width) minmax(0, 1fr) var(--right-column-width);
    grid-template-rows: 7.2rem auto 1fr;
    padding-top: var(--header-height);
    padding-bottom: 6.5rem;

    &::before {
        content: '';
        height: 1px;
        display: block;
        width: 100%;
        background-color: #fff;
        grid-column: 2 / -1;
        grid-row: 1 / 2;
    }
}

.intro__left-col {
    width: 50%;
    flex-grow: 1;
}

.intro__right-col {
    width: var(--right-column-width);
    flex-shrink: 0;
    margin-left: 3rem;
}

.intro__slogan {
    font-size: 2rem;
    line-height: 2.4rem;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    align-self: flex-start;
    max-width: 38.8rem;
}

.intro__services {
    font-size: 7rem;
    line-height: 1.4;
    letter-spacing: -0.02em;
    font-weight: 400;
    grid-row: 2 / 3;
    grid-column: 3 / -1;
    margin-top: -2rem;
}

.intro__scroll-down-link {
    flex-shrink: 0;
    align-self: flex-end;
    justify-self: flex-start;
    grid-row: 3 / 4;
    grid-column: 3 / 4;

    &:link,
    &:visited {
        color: white;
    }
    svg {
        width: 2rem;
        height: 2.4rem;
        display: block;
        fill: currentColor;
    }

    &:hover {
        color: rgba(white, .8);
    }
}

.intro__slider {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
}

.intro__slider-content {
    max-width: 78rem;
    border-top: 1px solid white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.intro__slider-card-image {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    width: 46.6rem;
    right: 0;
    bottom: 0;
    @include objectFitContain();
}

.intro__slider-cards {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.intro__slider-card {
    padding-top: 3.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
    z-index: 1;

    min-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, visibility 0s linear 0.4s;
    z-index: 1;
    display: flex;
    flex-direction: column;
    

    &.active {
        position: relative;
        opacity: 1;
        visibility: visible;
        z-index: 2;
        
        transition: opacity .4s cubic-bezier(0.25, 0.46, 0.45, 0.94), visibility .4s;
    }
}

.intro__slider-card-type {
    margin-bottom: 2rem;
}

.intro__slider-card-category {
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-bottom: 0.8rem;
    color: white;
}

.intro__slider-card-subject {
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: rgba(white, 0.5);
}

.intro__slider-card-name {
    font-size: 4rem;
    line-height: 4.8rem;
    margin-top: auto;
    letter-spacing: -0.02em;
    font-weight: 400;
}

.intro__slider-pagination {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    z-index: 60;
}

.intro__slider-pagination-bullet {

    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: .4rem; 
    position: relative;
  
    cursor: pointer;
    svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
        width: 2.6rem;
        height: 2.6rem;
        opacity: 0;
        visibility: hidden;
        transition: opacity .2s, visibility 0s linear .2s;
        
        circle {    
            &:nth-child(1) {
                stroke: rgba(white, .2);
            }
            &:nth-child(2) {
                stroke-dashoffset: calc(500px - 500px * var(--slider-progress, 0));
                stroke: white;
            }
        }
    }
    &:last-child {
        margin-right: 0;
    }


    &:hover {
        .intro__slider-pagination-bullet-dot {
            background-color: white;
        }
    }

    &.active {
        .intro__slider-pagination-bullet-dot {
            background-color: white;
        }
       

        svg {
            opacity: 1;
            visibility: visible;
            transition: opacity .2s, visibility .2s;
        }
    }
}


.intro__slider-pagination-bullet-dot {
    width: 0.4rem;
    height: 0.4rem;
    background-color: rgba(white, 0.3);
    transition: background-color 0.2s;
    border-radius: 50%;
}